[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircularBoxplots"]
	path = CircularBoxplots
	url = https://github.com/jdberlinski/circularboxplots
[submodule "kkmeans"]
	path = kkmeans
	url = https://github.com/jdberlinski/kkmeans
